version: 2
jobs:
  build:
    docker:
      - image: circleci/node:12.0

    working_directory: ~/Replicant

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: Install Serverless CLI and dependencies
          command: |
            sudo npm i -g serverless --unsafe-perm
            npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-

      # run tests!
      - run:
          name: Run tests with coverage
          command: cd replicant-backend && npm install jest && npm install && npm test --coverage

      - run:
          name: Deploy application
          command: cd replicant-backend && sls deploy
